<?xml version="1.0" encoding="utf-8"?>
<!--
  NuGet Configuration
  https://docs.microsoft.com/nuget/reference/nuget-config-file
-->
<configuration>
  <packageSources>
    <!--
      Add nuget.org packageSource to avoid relying on ambient state, which
      can cause NU1101/NU1102 on GitHub Actions:
      https://github.com/actions/setup-dotnet/issues/155#issuecomment-761195782
      https://github.com/actions/virtual-environments/issues/1090
      https://github.com/actions/virtual-environments/issues/3038#issuecomment-808733246
      https://github.com/NuGet/Home/issues/10586#issuecomment-783689013
      Should add have protocolVersion="3"?  Some examples have it, some don't.
      https://github.com/NuGet/docs.microsoft.com-nuget/issues/704
    -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>