<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DeskAnalyticsSharp.AnalyticsSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="DeskAnalyticsSharp.Analytics" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <DeskAnalyticsSharp.AnalyticsSettings>
            <setting name="IdForAnalytics" serializeAs="String">
                <value />
            </setting>
            <setting name="LastVersionLaunched" serializeAs="String">
                <value />
            </setting>
            <setting name="NeedUpgrade" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FirstName" serializeAs="String">
                <value />
            </setting>
            <setting name="LastName" serializeAs="String">
                <value />
            </setting>
            <setting name="Email" serializeAs="String">
                <value />
            </setting>
            <setting name="AllowTracking" serializeAs="String">
                <value>True</value>
            </setting>
        </DeskAnalyticsSharp.AnalyticsSettings>
        <DeskAnalyticsSharp.Analytics>
            <setting name="IdForAnalytics" serializeAs="String">
                <value/>
            </setting>
            <setting name="LastVersionLaunched" serializeAs="String">
                <value/>
            </setting>
        </DeskAnalyticsSharp.Analytics>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup></configuration>
